
/* Right Section Styling */
 body {
     font-family: 'Times New Roman', Times, serif;
     margin: 20px;
     padding: 0;
     background-color:  skyblue;
 }
.right-section {
    padding: 20px;
    width: 65%;
}
h1 {
    color: black;
}


button {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: rgba( 46, 216, 239);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
  }

button:hover {
    background-color: #66b1e6;
}
